<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">

	<title>Register</title>
</head>

<body>
	<div class="container">
		<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    			<span class="navbar-toggler-icon"></span>
  			</button>

			<div class="collapse navbar-collapse" id="navbarSupportedContent">
				<ul class="navbar-nav mr-auto">
					<li class="nav-item active">
						<a class="nav-link" href="/register">Registration to MYY803 project<span class="sr-only">(current)</span></a>
      				</li>
				</ul>
  			</div>
		</nav>
		
		<br>
		
		<form th:action="@{/save}" th:object="${user}" method="post">
			
			<label for="username">Username</label><br />
			<input type="text" th:field="*{username}" placeholder="User Name" /> <br/><br/>
			
			<label for="password">Password</label><br />
			<input type="password" th:field="*{password}" placeholder="Password" /> <br/><br/>
			
			<label for="Role">Role</label><br />
			<select th:field="*{role}" required>
				<option value="">Select</option>
				<option value="STUDENT">STUDENT</option>
				<option value="PROFESSOR">PROFESSOR</option>
			</select> <br/><br/>
			
			<button type="submit" class="btn btn-info col-2">Register</button> 
			<a th:href="@{/login}" class="btn btn-primary col-2"> Login</a>
			
			<div th:if="${param.error}" class="alert alert-danger" role="alert"><p>Registration Error.</p></div><br/>
			<div th:if="${successMessage}" th:text="${successMessage}" class="alert alert-primary" role="alert"></div><br/>
		</form>
	</div>
</body>
</html>